{% extends 'base.html' %}
  {% block title %}Profile | HappySocial{% endblock %}

  {% block header %}
    {% include 'header.html' with user_profile=visitor_profile %}
  {% endblock %}
  {% block content %}
  {% load static %}

<!-- Main Content -->
<div class="container mt-4">
	<div class="row">
	  <div class="col-md-4">
		<div class="card mb-3">
		  <img src="{{ user_profile.profileimg.url }}" class="card-img-top" alt="User Profile">
		  <div class="card-body">
			<h3 class="card-title text-center text-primary">{{ user_profile.user.username }}</h3>
			  <div class="col-md-12">
				  <div class="card-body text-center">
					<p class="card-text">📍Location: {{ user_profile.location }}</p>
					<p class="card-text">📖User bio: {{ user_profile.bio }}</p>
					<p class="card-text">➡️Follower count: {{ user_followers }}</p>
					<p class="card-text">⬅️Following count: {{ user_following }}</p>
					<p class="card-text">📝Posts count: {{ user_posts_length }} </p>
				</div>
			  </div>
			{% if user_profile.user != user %}
			<form action="/follow" method="POST">
			  {% csrf_token %}
			  <input type="hidden" name="follower" value="{{user.username}}">
			  <input type="hidden" name="user" value="{{user_object.username}}">
			  <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">
				{% if follow_status %}Unfollow{% else %}Follow{% endif %}
			  </button>
			</form>
			{% else %}
			<a href="/settings" class="btn btn-primary btn-lg btn-block mt-3">Edit Profile</a>
			{% endif %}
		  </div>
		</div>
	  </div>
	  <div class="col-md-8">
		<div class="card">
		  <div class="card-header">
			<h5 class="text-center">All User Posts</h5>
		  </div>
		  {% for post in user_posts reversed %}
		  <div class="col-md-12 my-3">
			<div class="card p-3">
			  <p class="text-secondary text-center">{{ post.created_at }}</p>
			  {% if post.image %}
			  <a href="#" data-toggle="modal" data-target="#postModal{{ post.id }}">	
			  	<img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
			  </a>
			  {% endif %}
			  <div class="card-body">
				<p class="card-text text-center">{{ post.caption }}</p>
				<h5 class="text-success text-right">Total likes: {{post.no_of_likes}}</h3>
			  </div>
			</div>
		  </div>
		  {% endfor %}
		</div>
	  </div>
	</div>
  </div>
  
  <!-- Modal -->
{% for post in user_posts reversed %}
{% if post.image %}
<div class="modal fade" id="postModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="postModalLabel{{ post.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="{{ post.image.url }}" class="img-fluid" alt="Post Image">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
  {% endblock %}

