{% extends 'base.html' %}
  {% block title %}Search | HappySocial{% endblock %}

  {% block header %}
    {% include 'header.html' with user_profile=user_profile %}
  {% endblock %}
  {% block content %}
  {% load static %}

      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="text-center">Search Results</h4>
          </div>
          <div class="card-body">
            {% for user in username_profile_list %}
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                  <img src="{{user.profileimg.url}}" class="card-img img-thumbnail rounded-circle" alt="Profile Picture">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">@{{user.user}}</h5>
                    <p class="card-text">{{user.bio}}</p>
                    <p class="card-text"><small class="text-muted">{{user.location}}</small></p>
                    <div class="d-flex justify-content-end">
                      <a href="/profile/{{user.user}}" class="btn btn-primary">Visit Profile</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
  
{% endblock %}
