
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HappySocial</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
      <a class="navbar-brand" href="/"
        ><h1 class="text-primary">HappySocial</h1></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                src="{{visitor_profile.profileimg.url}}"
                alt="User Profile"
                class="img-thumbnail my-profile rounded-circle"
                style="height: 50px; width: 50px"
              />
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/profile/{{visitor_profile.user}}"
                >Your profile</a
              >
              <a class="dropdown-item" href="/settings">Settings</a>
              <a class="dropdown-item" href="/signout">Log out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

<!-- Main Content -->

<div class="container my-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="card-title">Chat Rooms</h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="room-select">Choose a chat room:</label>
                <select id="room-select" class="form-control mb-3">
                    <option value="" selected disabled hidden>Select a chat room...</option>
                    <option value="social">Social</option>
                    <option value="serious">Serious</option>
                    <option value="fun">Fun</option>
                </select>
            </div>
            <div class="form-group">
                <label for="new-room-input">Create a new chat room:</label>
                <input id="new-room-input" type="text" class="form-control mb-3">
            </div>
            <button id="enter-room-button" class="btn btn-primary">Enter chat room</button>
        </div>
    </div>
</div>

<script>
    document.querySelector('#room-select').onchange = function () {
        document.querySelector('#new-room-input').value = '';
    };

    document.querySelector('#enter-room-button').onclick = function () {
        const roomSelect = document.querySelector('#room-select');
        const newRoomInput = document.querySelector('#new-room-input');
        let roomName;
        if (newRoomInput.value) {
            roomName = newRoomInput.value;
        } else if (roomSelect.value) {
            roomName = roomSelect.value;
        } else {
            alert('Please select or enter a chat room name');
            return;
        }
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>
  
     <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-cPMzH/n3qO3pT7wE8WdoI0R/70AxIKB6gEKUZBCNR/Ua1Rz6CBz+W6nnwvE1xQHj"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
   
<style>  
.my-profile, .recommended-profile {
   width: 60px;
   height: 100%;
   object-fit: cover;
}
body {
            background-image: url("{% static 'assets/images/bg.jpeg' %}");
            background-size: cover;
        }
</style>
</body>
</html>
  </body>
</html>
