{% extends 'base.html' %}
{% block title %}Friends | HappySocial{% endblock %}
{% block header %} 
{% include 'header.html' with user_profile=visitor_profile %}
{% endblock %} 

{% block content %}
<!-- Main Content -->
<div class="container my-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h2 class="card-title">Chat Room</h2>
    </div>
    <div class="card-body">
      <textarea
        id="chat-log"
        class="form-control mb-3"
        cols="100"
        rows="20"
      ></textarea>
      <input
        id="chat-message-input"
        type="text"
        class="form-control mb-3"
        size="100"
      />
      <button id="chat-message-submit" class="btn btn-primary">Send</button>
    </div>
    <div class="card-footer">
      {{ room_name|json_script:"room-name" }} {{ user|json_script:"user" }}
    </div>
  </div>
</div>
{% endblock %} 
{% block scripts-styles %}
<script>
  const roomName = JSON.parse(document.getElementById("room-name").textContent);
  const user = JSON.parse(document.getElementById("user").textContent);

  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/" + roomName + "/"
  );

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    document.querySelector("#chat-log").value += data.message + "\n";
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

  document.querySelector("#chat-message-input").focus();
  document.querySelector("#chat-message-input").onkeyup = function (e) {
    if (e.keyCode === 13) {
      // enter, return
      document.querySelector("#chat-message-submit").click();
    }
  };

  document.querySelector("#chat-message-submit").onclick = function (e) {
    const messageInputDom = document.querySelector("#chat-message-input");
    const message = messageInputDom.value;
    const hour = new Date().toLocaleTimeString([], {
      hour: "2-digit",
      minute: "2-digit",
      hour12: false,
    });
    chatSocket.send(
      JSON.stringify({
        message: hour + " | " + user + ": " + message,
      })
    );
    messageInputDom.value = "";
  };
</script>
{% endblock %}
