{% extends 'base.html' %}

{% block title %}Home | HappySocial{% endblock %}

{% block header %}
{% include 'header.html' with user_profile=user_profile %}
{% endblock %}
{% block content %}
<!-- Left Section -->
<div class="row mx-3">
<div class="col-md-6 px-4 ml-4">
   {% if posts %}
      {% for post in posts reversed %}
      <div class="card mb-3 p-5">
      <div class="d-flex align-items-center">
         <a href= /profile/{{post.user}}><h5 class="card-title mb-0">{{ post.user }}</h5></a>
      </div>
      <p class="text-secondary">{{post.created_at}} </p>
      {% if post.image %}
      <a href="#" data-toggle="modal" data-target="#postModal{{ post.id }}">
         <img src="{{ post.image.url }}" class="card-img-top my-3" alt="Post Image">
       </a>
      {% endif %}
      <div class="card-body">
         {% if post.caption %}
            <p class="card-text border py-3 my-3 pl-3 border-light rounded bg-light">{{ post.caption }}</p>
         {% endif %}
         <div class="d-flex justify-content-between align-items-center">
            <a href="/like-post?post_id={{post.id}}">
               <button class="btn btn-primary btn-lg btn-block mr-4 mb-3">Like this
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z"/>
               </svg></button>
            </a>
            <p class="text-secondary text-right">{{ post.no_of_likes }} likes  💙</p>
         </div>
      </div>
      </div>
      {% endfor %}
   {% else %}
      <div class="card mb-3 p-5">
         <div class="card-body">
            <h5 class="card-title mb-0">No posts yet, follow creators!</h5>
         </div>
      </div>
   {% endif %}
 </div>

<!-- Right Section -->
<div class="col-md-5">
   <button style="height: 60px; border-color: aliceblue; border-width: 4px;" class="btn btn-primary btn-lg btn-block mr-4 mb-3" data-toggle="modal" data-target="#upload-post-popup">
      Upload Pic/Publish post
    </button>
   <div class="card ">
     <div class="card-header">
       <h5 class="card-title mb-0">People to Follow</h5>
     </div>
     <div class="card-body">
       {% for suggestion in suggestions_username_profile_list %}
       <div class="card mb-2">
         <div class="card-body mb-2">
           <div class="media">
             <img src="{{ suggestion.profileimg.url }}" class="mr-3 img-thumbnail recommended-profile rounded-circle" alt="Profile Image" style="height:50px; width: 50px;">
             <div class="media-body">
               <h5 class="mt-0"><a href="/profile/{{ suggestion.user }}">{{ suggestion.user }}</a></h5>
               <p class="text-secondary">{{ suggestion.bio }}</p>
               <!-- Visit profile button -->
               <a href="/profile/{{ suggestion.user }}" class="btn btn-outline-primary btn-sm float-right">Visit Profile</a>
             </div>
            </div>
         </div>
      </div>
       {% endfor %}
     </div>
   </div>
   <div class="card my-4 ">
      <div class="card-header">
         <h5 class="card-title mb-0">Search for users</h5>
       </div>
       <div class="card-body">

   <form action="/search" method="POST">
      {% csrf_token %}
      <div class="input-group">
         <input type="text" name="username" class="form-control" placeholder="Search for users here" />
         <div class="input-group-append">
            <button type="submit" class="btn btn-outline-primary">Search</button>
         </div>
      </div>
      </div>
   </form>
   </div>
      <!-- Chat Room Card -->
      <div class="card">
         <div class="card-header">
            <h5 class="card-title mb-0">Join the Chat Room!</h5>
         </div>
         <div class="card-body">
            <p class="card-text">Chat with other users and make new friends in our chat rooms.</p>
            <a href="/chat/" class="btn btn-primary">Go to Chat Room</a>
         </div>
      </div>
   <!-- Upload Post Popup -->
   <div class="modal fade" id="upload-post-popup" tabindex="-1" role="dialog" aria-labelledby="upload-post-popup-label"
     aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="upload-post-popup-label">Upload a Picture / Publish Post</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <form action="/upload" method="POST" enctype="multipart/form-data">
             {% csrf_token %}
             <div class="form-group">
               <label for="image-upload" class="col-form-label">Upload Photo</label>
               <div class="custom-file">
                 <input type="file" accept="image/*" class="custom-file-input" id="image-upload" name="image_upload">
                 <label class="custom-file-label" for="image-upload">Choose file</label>
               </div>
             </div>
             <div class="form-group">
               <label for="caption" class="col-form-label">Post content</label>
               <textarea class="form-control" name="caption" id="caption"></textarea>
             </div>
             <button class="btn btn-primary btn-lg btn-block" type="submit">Upload</button>
           </form>
         </div>
       </div>
     </div>
   </div>
</div>
</div>

<!-- Modal -->
{% for post in posts reversed %}
{% if post.image %}
<div class="modal fade" id="postModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="postModalLabel{{ post.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="{{ post.image.url }}" class="img-fluid" alt="Post Image">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}