{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>HappySocial</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
      <a class="navbar-brand" href="#"><h1 class="text-primary">HappySocial</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{{user_profile.profileimg.url}}" alt="User Profile" class="img-thumbnail my-profile rounded-circle" style="height:50px; width: 50px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <a class="dropdown-item" href="/profile/{{user_profile.user}}">Your profile</a>
               <a class="dropdown-item" href="/settings">Settings</a>
              <a class="dropdown-item" href="/signout">Log out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid my-3 align-items-center">
      <div class="row mx-3">
<!-- Left Section -->
<div class="col-md-6 px-4 ml-4">
   {% if posts %}
      {% for post in posts reversed %}
      <div class="card mb-3 p-5">
      <div class="d-flex align-items-center">
         <a href= /profile/{{post.user}}><h5 class="card-title mb-0">{{ post.user }}</h5></a>
      </div>
      <p class="text-secondary">{{post.created_at}} </p>
      {% if post.image %}
      <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
      {% endif %}
      <div class="card-body">
         <p class="card-text">{{ post.caption }}</p>
         <div class="d-flex justify-content-between align-items-center">
            <div>
            <a href="/like-post?post_id={{post.id}}" class="btn btn-link">
               Like this
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z"/>
               </svg>
            </a>
            <p class="text-secondary">{{ post.no_of_likes }} likes</p>
            </div>
         </div>
      </div>
      </div>
      {% endfor %}
   {% else %}
      <div class="card mb-3 p-5">
         <div class="card-body">
            <h5 class="card-title mb-0">No posts yet, follow creators!</h5>
         </div>
      </div>
   {% endif %}
 </div>

<!-- Right Section -->
<div class="col-md-5">
   <button style="height: 60px; border-color: aliceblue; border-width: 4px;" class="btn btn-primary btn-lg btn-block mr-4 mb-3" data-toggle="modal" data-target="#upload-post-popup">
      Upload Pic/Publish post
    </button>
   <div class="card ">
     <div class="card-header">
       <h5 class="card-title mb-0">People to Follow</h5>
     </div>
     <div class="card-body">
       {% for suggestion in suggestions_username_profile_list %}
       <div class="card mb-3">
         <div class="card-body">
           <div class="media">
             <img src="{{ suggestion.profileimg.url }}" class="mr-3 img-thumbnail recommended-profile rounded-circle" alt="Profile Image" style="height:50px; width: 50px;">
             <div class="media-body">
               <h5 class="mt-0"><a href="/profile/{{ suggestion.user }}">{{ suggestion.user }}</a></h5>
               <p class="text-secondary">{{ suggestion.bio }}</p>
               <!-- Visit profile button -->
               <a href="/profile/{{ suggestion.user }}" class="btn btn-outline-primary btn-sm">Visit Profile</a>
            </div>
           </div>
         </div>
       </div>
       {% endfor %}
     </div>
   </div>
   <div class="card my-4 ">
      <div class="card-header">
         <h5 class="card-title mb-0">Search for users</h5>
       </div>
       <div class="card-body">

   <form action="/search" method="POST">
      {% csrf_token %}
      <div class="input-group">
         <input type="text" name="username" class="form-control" placeholder="Search for users here" />
         <div class="input-group-append">
            <button type="submit" class="btn btn-outline-primary">Search</button>
         </div>
      </div>
      </div>
   </form>
   </div>
      <!-- Chat Room Card -->
      <div class="card">
         <div class="card-header">
            <h5 class="card-title mb-0">Join the Chat Room!</h5>
         </div>
         <div class="card-body">
            <p class="card-text">Chat with other users and make new friends in our chat rooms.</p>
            <a href="/chat/" class="btn btn-primary">Go to Chat Room</a>
         </div>
      </div>
   <!-- Upload Post Popup -->
   <div class="modal fade" id="upload-post-popup" tabindex="-1" role="dialog" aria-labelledby="upload-post-popup-label"
     aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="upload-post-popup-label">Upload a Picture / Publish Post</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <form action="/upload" method="POST" enctype="multipart/form-data">
             {% csrf_token %}
             <div class="form-group">
               <label for="image-upload" class="col-form-label">Upload Photo</label>
               <div class="custom-file">
                 <input type="file" accept="image/*" class="custom-file-input" id="image-upload" name="image_upload">
                 <label class="custom-file-label" for="image-upload">Choose file</label>
               </div>
             </div>
             <div class="form-group">
               <label for="caption" class="col-form-label">Post content</label>
               <textarea class="form-control" name="caption" id="caption"></textarea>
             </div>
             <button class="btn btn-primary btn-lg btn-block" type="submit">Upload</button>
           </form>
         </div>
       </div>
     </div>
   </div>
</div>


   <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-cPMzH/n3qO3pT7wE8WdoI0R/70AxIKB6gEKUZBCNR/Ua1Rz6CBz+W6nnwvE1xQHj"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
   
<style>  
.my-profile, .recommended-profile {
   width: 60px;
   height: 100%;
   object-fit: cover;
}
body {
            background-image: url("{% static 'assets/images/bg.jpeg' %}");
            background-size: cover;
        }
        .card-img-top{    max-height: 300px;
    object-fit: cover;}
</style>
</body>
</html>