{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HappySocial</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
      <a class="navbar-brand" href="/"
        ><h1 class="text-primary">HappySocial</h1></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                src="{{visitor_profile.profileimg.url}}"
                alt="User Profile"
                class="img-thumbnail my-profile rounded-circle"
                style="height: 50px; width: 50px"
              />
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/profile/{{visitor_profile.user}}"
                >Your profile</a
              >
              <a class="dropdown-item" href="/settings">Settings</a>
              <a class="dropdown-item" href="/signout">Log out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

<!-- Main Content -->
<div class="container mt-4">
	<div class="row">
	  <div class="col-md-4">
		<div class="card mb-3">
		  <img src="{{ user_profile.profileimg.url }}" class="card-img-top" alt="User Profile">
		  <div class="card-body">
			<h3 class="card-title text-center text-primary">{{ user_profile.user.username }}</h3>
			  <div class="col-md-12">
				  <div class="card-body text-center">
					<p class="card-text">📍Location: {{ user_profile.location }}</p>
					<p class="card-text">📖User bio: {{ user_profile.bio }}</p>
					<p class="card-text">➡️Follower count: {{ user_followers }}</p>
					<p class="card-text">⬅️Following count: {{ user_following }}</p>
					<p class="card-text">📝Posts count: {{ user_posts_length }} </p>
				</div>
			  </div>
			{% if user_profile.user != user %}
			<form action="/follow" method="POST">
			  {% csrf_token %}
			  <input type="hidden" name="follower" value="{{user.username}}">
			  <input type="hidden" name="user" value="{{user_object.username}}">
			  <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">
				{% if follow_status %}Unfollow{% else %}Follow{% endif %}
			  </button>
			</form>
			{% else %}
			<a href="/settings" class="btn btn-primary btn-lg btn-block mt-3">Edit Profile</a>
			{% endif %}
		  </div>
		</div>
	  </div>
	  <div class="col-md-8">
		<div class="card">
		  <div class="card-header">
			<h5 class="text-center">All User Posts</h5>
		  </div>
		  {% for post in user_posts reversed %}
		  <div class="col-md-12 my-3">
			<div class="card p-3">
			  <p class="text-secondary text-center">{{ post.created_at }}</p>
			  {% if post.image %}
			  <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
			  {% endif %}
			  <div class="card-body">
				<p class="card-text text-center">{{ post.caption }}</p>
				<h5 class="text-success text-right">Total likes: {{post.no_of_likes}}</h3>
			  </div>
			</div>
		  </div>
		  {% endfor %}
		</div>
	  </div>
	</div>
  </div>
  
     <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-cPMzH/n3qO3pT7wE8WdoI0R/70AxIKB6gEKUZBCNR/Ua1Rz6CBz+W6nnwvE1xQHj"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
   
<style>  
.my-profile, .recommended-profile {
   width: 60px;
   height: 100%;
   object-fit: cover;
}
body {
            background-image: url("{% static 'assets/images/bg.jpeg' %}");
            background-size: cover;
        }
        .card-img-top{    max-height: 400px;
    object-fit: cover;}
</style>
</body>
</html>
  </body>
</html>
