{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappySocial - Sign in</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        .login-form {
            max-width: 400px;
            margin: auto;
        }
        body {
            background-image: url("{% static 'assets/images/bg.jpeg' %}");
            background-size: cover;
        }
    </style>
</head>

<body class="bg-gray-100">
    <div id="wrapper" class="flex flex-col justify-between h-screen">
        <!-- header-->
        <div class="bg-white py-4 shadow">
            <div class="max-w-6xl mx-auto">
                <div class="flex items-center ml-3">
                       <b><h1 class="text-primary">HappySocial</h1></b>
                </div>
            </div>
        </div>
        <!-- Content-->
        <div>
            <div class="login-form p-4 mx-auto my-5 bg-white rounded shadow">
                <h1 class="text-center mb-4">Log in</h1>
                <div>
                    {% for message in messages %}
                        <p class="text-danger">{{ message }}</p>
                    {% endfor %}
                </div>  
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="remember-me">
                        <label class="form-check-label" for="remember-me">Remember Me</label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="text-muted mb-0">Not registered? <a href="/signup" class="">Create account</a></p>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- Footer -->
        <div class="py-3">
            <p class="text-sm-center text-light">© Made by Alvaro Vega - Feel free to use it! </p>
        </div>

    </div>

    <!-- Scripts
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clfTfP5qgytuOks7XQbJOMa/8IyJsz"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
